* {
  box-sizing: border-box;
}

body {
   font-family: 'Nunito', sans-serif;
   margin: 0;
   padding: 0;
}
 
h2, h3 {
   color: #126e82;
}
/* Jumbotron Style */
header {
  display: inline;
}

.jumbotron {
   font-size: 20px;
   padding: 60px;
   background-color: #51c4d3;
   text-align: center;
   color: white;
   /*z-index: 2;*/
}

/* Button Jumbotron */
.tombol{
    background: #126e82;
    color: white;
    font-size: 11pt;
    width: auto;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
}

.tombol a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Top Nav Section */
.top-nav {
  background-color: #d8e3e7;
  padding: 3px;
  top: 0;
}

.top-nav a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}


.top-nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

.login {
  float: right;
}

.login a:hover {
  border-bottom: 3px solid #126e82;
  transition: all .3s ease;
}
/* Main Menu Style */
.menu {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 5px;
  position: sticky;
  top: 0;
}

.menu a {
  font-size: 17px;
  text-decoration: none;
  color: black;
}


.menu li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

.menu a:hover {
  font-weight: bold;
  border-bottom: 3px solid #126e82;
  transition: all .3s ease;
}

/* Main */
main {
  padding: 20px;
  overflow: auto;
}

/* Main Content */
#content  {
  float: left;
  width: 65%;
}

/* Featured Image Style */
.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

/* Card Style */
.card {
   box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}

/* Aside */
.profile header, .profile section {
  text-align: center;
}

aside {
  float: right;
  width: 35%;
  padding-left: 20px;
}

.logo {
  border-radius: 7px;
}

/* About */
.about {
   box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}

.about-me header, .about-me section {
  text-align: center;
}

.photo {
  border-radius: 7px;
}

.about a {
  text-decoration: none;
  color: black;
}

.about a:hover {
  border-bottom: 3px solid teal;
  transition: all .3s ease;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
  background-color: #126e82;
}

/* Social Media Style */
.social {
    flex: 1;
    order: 1;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.social p {
  padding-left: 35px;
  text-decoration: underline;
}

.socmed li {
  display: inline;
  list-style-type: none;
  margin-right: 5px;
}

.socmed img {
  width: 35px;
  height: 35px;
}
/*end*/
/* Services */
.services {
  flex: 1;
  order: 2;
  color: white;
}

.services p {
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: underline;
}

/* Address */
.address {
  flex: 1;
  order: 3;
  color: white;
}

.alamat {
  text-decoration: underline;
  font-size: 1.1em;
  font-weight: bold;
}

/* Copyright */
.copyright {
  background-color: #132c33;
  padding: 10px;
  margin: 0px auto;
  color: white;
  text-align: center;
  font-weight: bold;
}

.copyright a {
  text-decoration: none;
  color: white;
}

.copyright a:hover {
  border-bottom: 3px solid #126e82;
  transition: all .3s ease;
}

/* Responsive breakpoint */
@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }

   /* Footer */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    overflow: auto;
    background-color: #126e82;
  }

  /* Social Media Style */
  .social {
      flex: 1;
      order: 1;
  }

  .socmed li {
    display: inline;
    list-style-type: none;
    margin-right: 5px;
  }

  .socmed img {
    width: 35px;
    height: 35px;
  }
  /*end*/
  /* Services */
  .services {
    flex: 1;
    order: 2;
    color: white;
  }

  /* Address */
  .address {
    flex: 1;
    order: 3;
    color: white;
  }

}